* {
  margin: 0;
  padding: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 8rem;
  font-family: "Orbitron", Helvetica, sans-serif;
  font-weight: 600;
}

.list-item {
  list-style: none;
  margin: 0 1rem;
}

li:nth-child(1) {
  text-decoration: underline;
}
ul .list-item:nth-child(1) {
  order: -2;
}
ul .list-item:nth-child(3) {
  order: -1;
}
.list-item:nth-child(1) {
  font-size: 1.3rem;
  font-weight: 800;
  text-decoration: underline;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-group {
  display: flex;
  align-items: center;
}
.square {
  position: absolute;
  bottom: 0px;
  left: 100px;
}

.hero-image {
  width: 450px;
}

button {
  padding: 0.5rem 3rem;
  background-color: transparent;
  border-radius: 0.5rem;
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 1.1rem;
  margin-left: 1rem;
}
.hero-container {
  margin: 5rem 8rem 2rem 8rem;
  position: relative;
  display: flex;
  gap: 5rem;
}

.square {
  position: absolute;
  z-index: -1;
  bottom: -70px;
}

.hero-container-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-heading {
  display: flex;
  flex-direction: row;
  font-size: 4rem;
  font-weight: bold;
  font-family: "Orbitron", sans-serif;
  margin: 4rem 2rem 2rem 4rem;
}

.hero-description {
  font-family: "Poppins", sans-serif;
  width: 60%;
  text-align: center;
  color: rgb(69, 69, 69);
  margin-bottom: 5rem;
}

.button-join,
.button-email {
  display: flex;
  font-family: "Orbitron", Helvetica, sans-serif;
  font-weight: 800;
}

.button-email {
  color: gray;
  border-color: gray;
}

.button-join {
  background-color: black;
  color: #fff;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", Helvetica, sans-serif;
  margin-top: 5rem;
}
.contact-heading {
  font-weight: 400;
  font-size: larger;
  color: rgb(59, 59, 59);
  margin-bottom: 1rem;
  margin-left: 2.5rem;
}

.star,
.globe {
  position: absolute;
}

.globe {
  left: 60%;
  top: -40px;
}

.star {
  top: 10px;
  right: 10%;
}
